<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button
                    class="accordion-button collapsed"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#commented-posts"
                    aria-expanded="false"
                    aria-controls="commented-posts"
            >
                Commented Posts
            </button>
        </h2>
        <div
                id="commented-posts"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-mdb-parent="#accordionExample"
        >
            <div class="card d-flex accordion-body">
                <div class="card-body">
                    <!--Table-->
                    <table class="table-responsive">
                    </table>
                    <table class="table table-hover table-forum text-center">
                        <!--Table head-->
                        <thead>
                        <tr>
                            <th class="text-start">Posts</th>
                            <th>Comments</th>
                        </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td class="text-start">
                                    <a href="{{ path('posts_show', {id: comment.post.id}) }}"
                                       class="font-weight-bold blue-text">{{ comment.post.title }}</a>
                                    <div class="my-2">
                                        {% for tag in comment.post.tags %}
                                            <span class="badge bg-{{ random(['info', 'primary', 'secondary', 'warning' ,'danger']) }} m-1">{{ tag.name }}</span>
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <span class="text-muted">{{ comment.post.PublishDate }}</span>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="text-dark">
                                        <span>{{ comment.post.comments.count }}</span>
                                        <i class="fas fa-comments ml-1"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <!--Table body-->
                    </table>

                    <!-- Table -->

                    <!--Bottom Table UI-->
                    <div class="d-flex justify-content-center">
                        <!--Pagination -->
                        <nav class="my-2 pt-2">
                            <ul class="pagination pagination-circle pg-info mb-0">
                                <!--First-->
                                <li class="page-item clearfix d-none d-md-block">
                                    <a href="#" class="page-link waves-effect">
                                        First </a>
                                </li>
                                <!--Arrow left-->
                                <li class="page-item">
                                    <a href="#" class="page-link waves-effect" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">
                Previous </span>
                                    </a>
                                </li>
                                <!--Numbers-->
                                <li class="page-item active">
                                    <a href="#" class="page-link waves-effect">1</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link waves-effect">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link waves-effect">3</a>
                                </li>
                                <!--Arrow right-->
                                <li class="page-item">
                                    <a href="#" class="page-link waves-effect" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                <!--First-->
                                <li class="page-item clearfix d-none d-md-block">
                                    <a href="#" class="page-link waves-effect">
                                        Last </a>
                                </li>
                            </ul>
                        </nav>
                        <!--/Pagination -->
                    </div>
                    <!--Bottom Table UI-->
                </div>
            </div>
        </div>
    </div>
</div>


