<div
        class="text-center d-flex justify-content-center rounded-3 p-2 mb-2"
        style="background-color: #efefef;"
>
    <div>
        <p class="small text-muted mb-1">
            Posts
        </p>
        <p class="mb-0">{{ user.posts.count }}</p>
    </div>
    <div class="px-3">
        <p class="small text-muted mb-1">
            Friends
        </p>
        <p class="mb-0">{{ userFriends.count }}</p>
    </div>
    <div>
        <p class="small text-muted mb-1">
            Comments
        </p>
        <p class="mb-0">{{ comments.count }}</p>
    </div>
</div>