{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    {% if user.getAvatar() %}
                        <img src="{{ vich_uploader_asset(user.getAvatar) }}" alt="avatar"
                             style="width: 200px; height: 200px">
                    {% else %}
                        <img src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png"
                             alt="" class="rounded-circle img-fluid" style="width: 200px; height: 200px">
                    {% endif %}
                    <h5 class="my-3">{{ user.username }}</h5>
                    {{ include('profile/_statistic.html.twig') }}
                    {% if form is defined %}
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-info" data-mdb-toggle="modal"
                                    data-mdb-target="#exampleUpload">Upload Image
                            </button>

                            <div class="modal fade" id="exampleUpload" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        {{ form_start(form) }}
                                        <div class="text-center py-3">
                                            {{ form_row(form) }}
                                            <button formnovalidate type="submit" class="btn btn-info">Upload</button>
                                        </div>
                                        <label class="form-check-label my-4" for="flexCheckDefault">
                                            <input class="form-check-input" type="checkbox" name="avatar1"
                                                   id="flexCheckDefault">
                                            Use as avatar
                                        </label>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="d-flex justify-content-center mb-2">
                            {% if hasMyFriendshipRequest %}
                                <button class="btn btn-secondary disabled">
                                    Friendship request sent
                                </button>
                            {% elseif hasFriendshipRequest %}
                                <a href="{{ path('confirm_friendship', {id:hasFriendshipRequest.id}) }}"
                                   class="btn btn-info">
                                    Confirm Friend
                                </a>
                            {% elseif isFriend %}
                                <button class="btn btn-success disabled">
                                    In your friends
                                </button>
                            {% else %}
                                <a href="{{ path('send_friendship_request', {id:user.id}) }}" class="btn btn-info">
                                    Add to friend
                                </a>
                            {% endif %}

                            <button type="button" class="btn btn-outline-info ms-1">Message</button>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if user.posts is not empty %}
                {{ include('profile/_user_posts.html.twig') }}
            {% endif %}
            {% if comments is not empty %}
                {{ include('profile/_posts_with_user_comments.html.twig') }}
            {% endif %}
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ user.firstName }} {{ user.lastName }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ user.email }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Gender</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ user.gender == 'm' ? 'Male' : 'Female' }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Age</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ user.age }}</p>
                        </div>
                    </div>
                </div>
            </div>

            {% if userFriends %}
                <h2>Friends</h2>
            <div class="row text-center mt-5">
                {% for friend in userFriends %}
                    <div class="col-md-4 mb-5 mb-md-0">
                        <div class="card testimonial-card">
                            <div class="card-up bg-secondary"></div>
                            <div class="avatar mx-auto bg-white">
                                {% if friend.getFriend.getAvatar %}
                                    <img src="{{ vich_uploader_asset(friend.getFriend.getAvatar) }}" alt="avatar"
                                         class="rounded-circle img-fluid">
                                {% else %}
                                    <img src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png"
                                         alt="" class="rounded-circle img-fluid">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h4 class="mb-4">{{ friend.getFriend.firstName }} {{ friend.getFriend.lastName }}</h4>
                                <hr/>
                                <div class="d-flex pt-1">
                                    <a href="{{ path('show_profile', {'id': friend.getFriend.id}) }}"
                                       class="btn btn-info flex-grow-1">
                                        View profile
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h3>No friends</h3>
                {% endfor %}
            </div>
            {% endif %}

            <div class="row">
                {% if user.getImages %}
                    <h2 class="my-3">Gallery</h2>
                    {% for img in user.getImages %}
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded mb-4">
                                <img src="{{ vich_uploader_asset(img) }}" class="h-100" alt="{{ img.ImageName }}"/>
                                <a href="#" data-mdb-toggle="modal" data-mdb-target="#exampleModal{{ img.id }}">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                                </a>
                            </div>
                        </div>
                        <div class="modal fade" id="exampleModal{{ img.id }}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <img src="{{ vich_uploader_asset(img) }}" alt="{{ img.ImageName }}"/>
                                    <div class="text-center py-3">
                                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                                            Close
                                        </button>
                                        {% if user is same as app.user %}
                                            <form action="{{ path('delete_img', {'id': img.id}) }}">

                                                <button type="submit" class="btn btn-danger" data-mdb-dismiss="modal">
                                                    Delete
                                                </button>
                                            </form>
                                            <form action="{{ path('profile') }}" method="post">
                                                <input type="hidden" name="avatar" value="{{ img.id }}">
                                                <button type="submit" class="btn btn-danger" data-mdb-dismiss="modal">
                                                    Make an avatar
                                                </button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
