{{ form_start(form) }}
    {{ form_widget(form) }}
    <button formnovalidate class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(function() {
            $('.js-example-basic-multiple').select2({
                tags: true,
                tokenSeparators: [',', ' ']
            }).on('change', function (e) {
                let label = $(this).find("[data-select2-tag=true]");
                if (label.length && $.inArray(label.val(), $(this).val() !== -1)) {
                    $.ajax({
                        url: "/tags/new/ajax/"+label.val(),
                        type: "POST"
                    }).done(function (data) {
                        console.log(data)
                        label.replaceWith(`<option selected value="${data.id}">${label.val()}<option/>`);
                    })
                }
            });
        });
    </script>
{% endblock %}