{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1>Edit Post</h1>

    {{ include('posts/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-info my-2" href="{{ path('posts_index') }}">back to list</a>

    {{ include('posts/_delete_form.html.twig') }}
{% endblock %}
