{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <a class="btn btn-success my-2" href="{{ path('posts_new') }}">Create new</a>
    {% if pager|length > 0 %}
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
            {% for post in pager %}
                <div class="col">
                    <div class="card h-100" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-outline-primary"
                                   href="{{ path('posts_show', {'id': post.id}) }}">show</a>
                                <a class="btn btn-outline-info"
                                   href="{{ path('posts_edit', {'id': post.id}) }}">edit</a>
                                {{ include('posts/_delete_form.html.twig') }}
                            </div>

                            <p class="card-text">
                                <small class="text-muted">Last updated {{ post.updatedAt|date('d.m.Y') }}</small>
                            <p class="card-text">
                                <a href="{{ path('show_profile', {id:post.user.id}) }}"><small
                                            class="text-muted"><strong>By: </strong>{{ post.user.username }}
                                    </small></a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ pagerfanta(pager) }}
    {% else %}
        <div>No posts have been posted yet.</div>
    {% endif %}
{% endblock %}
