{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <h1>Create new Post</h1>

    {{ include('posts/_form.html.twig') }}
    <a class="btn btn-outline-info my-2" href="{{ path('posts_index') }}">back to list</a>

{% endblock %}
