{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    {% for tag in post.tags %}
        <a href=""><span class="badge rounded-pill bg-info text-dark">{{ tag.name }}</span></a>

    {% endfor %}
    <figcaption class="blockquote-footer text-end">
        {{ post.createdAt ? post.createdAt|date('d.m.Y H:i:s') : '' }}
    </figcaption>
    <figcaption class="blockquote-footer text-end">
        <strong>Author: </strong>{{ post.user.username }}
    </figcaption>

    {{ froala_display(post.text) }}

    <a class="btn btn-outline-info my-2" href="{{ path('posts_index') }}">back to list</a>

    <a class="btn btn-outline-success" href="{{ path('posts_edit', {'id': post.id}) }}">edit</a>

    {{ include('posts/_delete_form.html.twig') }}
    <div class="row height d-flex justify-content-center align-items-center my-5">
        <div class="col-md-7">
            <div class="card">
                <div class="p-3">
                    <h6>Comments</h6>
                </div>

                <div class="mt-3 d-flex flex-row align-items-center p-3 form-color">
                    {% if app.user.getAvatar %}
                        <img src="{{ vich_uploader_asset(app.user.avatar) }}" width="50" class="rounded-circle mr-2">
                    {% else %}
                        <img src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png"
                             width="50" class="rounded-circle mr-2">
                    {% endif %}

                    <form action="{{ path('comments_new', {'post': post.id}) }}" method="post">
                    <textarea required class="form-control" name="body" id="" cols="30"
                              rows="10" placeholder="Add your comment..."></textarea>
                        <button class="btn btn-outline-success" type="submit">Add comment</button>
                    </form>
                </div>
                {% for comment in post.comments %}
                    <div class="mt-2">
                        <div class="d-flex flex-row p-3">{% if comment.user.getAvatar %}
                                <img src="{{ vich_uploader_asset(comment.user.avatar) }}" width="40" height="40"
                                     class="rounded-circle mr-3">
                            {% else %}
                                <img src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png"
                                     width="40" height="40"
                                     class="rounded-circle mr-3">
                            {% endif %}
                            <div class="w-100">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex flex-row align-items-center"><span
                                                class="mr-2">{{ comment.user.username }}</span>
                                    </div>
                                    <div>
                                        {{ include('posts/_comment_delete_form.html.twig') }}
                                        {# <small>12h ago</small> #}
                                    </div>
                                </div>
                                <p class="text-justify comment-text mb-0">{{ comment.body }}</p>
{#                                <div class="d-flex flex-row user-feed">#}
{#                                    <span class="wish"> <i class="fa fa-heartbeat mr-2"></i>24</span>#}
{#                                    <span class="ml-3"><i class="fa fa-comments-o mr-2"></i>Reply</span>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
