{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 me-md-auto">
    <h1>Register</h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.first_name) }}
        {{ form_row(registrationForm.last_name) }}
        {{ form_row(registrationForm.gender) }}
        {{ form_row(registrationForm.birthday) }}
        <button formnovalidate type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
