{% if field.value %}
    {{ include(ea.templatePath('crud/field/image')) }}
{% else %}
    <a href="#" class="ea-lightbox-thumbnail">
        <img src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png"
             class="img-fluid">
    </a>
{% endif %}