{% for comment in field.value %}
    {%- set url = ea_url()
        .setAction('detail')
        .setEntityId(comment.id) -%}
    <div class="mt-2">
        <div class="d-flex flex-row py-3 pe-3">
            {% if comment.user.getAvatar %}
                <img src="{{ vich_uploader_asset(comment.user.avatar) }}" width="40" height="40"
                     class="rounded-circle mr-3">
            {% else %}
                <img src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png"
                     width="40" height="40"
                     class="rounded-circle mr-3">
            {% endif %}
            <div class="w-100">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center"><span
                                class="mr-2 fw-bold">{{ comment.user.username }}</span>
                    </div>
                    <div>
                        {{ include('posts/_comment_delete_form.html.twig') }}
                    </div>
                </div>
                <p class="text-justify comment-text mb-0">{{ comment.body }}</p>
            </div>
        </div>
    </div>
{% else %}
    <span class="badge badge-secondary">None</span>
{% endfor %}