{% for user in pager %}
    <div class="col-md-4 mb-5 mb-md-0">
        <div class="card testimonial-card">
            <div class="card-up bg-secondary"></div>
            <div class="avatar mx-auto bg-white">
                {% if user.getAvatar() %}
                    <img src="{{ vich_uploader_asset(user.getAvatar) }}" alt="avatar"
                         class="rounded-circle img-fluid">
                {% else %}
                    <img src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png"
                         alt="" class="rounded-circle img-fluid">
                {% endif %}
            </div>
            <div class="card-body">
                <h4 class="mb-4">{{ user.firstName }} {{ user.lastName }}</h4>
                <hr>
                <div class="d-flex pt-1">
                    <a href="{{ path('show_profile', {'id': user.id}) }}" class="btn btn-info flex-grow-1">
                        View profile
                    </a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="d-flex pt-1">
        <h2>no records found</h2>
    </div>
    <div class="d-flex pt-1">
        <a class="btn btn-sm btn-outline-info" href="{{ path('users_index') }}">All users</a>
    </div>
{% endfor %}