{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="input-group rounded" style="width: 25%">
        <input type="search" class="form-control" aria-label="Search"
               aria-describedby="search-addon" id="selUser" multiple="multiple"/>
        <span class="input-group-text border-1">
            <i class="fas fa-search"></i>
        </span>
    </div>

    <div class="row text-center mt-5">
        <div class="row text-center mt-5" id="users-index">
            {{ include('users/_users_index.html.twig') }}
        </div>
    </div>
    <div class="my-3" id="pagination">
        {% if pager|length > 4 %}
            {{ pagerfanta(pager) }}
        {% endif %}
    </div>

{% endblock %}
